<% layout("/layouts/boilerplate") %>
<%= success %>
<div class="row g-4">
  <% for(let listing of allListings){ %>

    <div class="col-lg-4 col-md-6 col-sm-12">

      <a href="/listings/<%= listing._id %>" class="listing-link">

        <div class="card listing-card h-100">

          <img 
            src="<%= listing.image && listing.image.url ? listing.image.url : 'https://thumbs.dreamstime.com/b/default-image-icon-vector-missing-picture-page-website-design-mobile-app-no-photo-available-236105299.jpg' %>" 
            class="card-img-top"
            alt="listing_image"
          >

          <div class="card-body">
            <p class="card-title"><%= listing.title %></p>
            <p class="card-price">
              ₹ <%= listing.price.toLocaleString("en-IN") %> / night
            </p>
          </div>

        </div>

      </a>

    </div>

  <% } %>
</div>

