<% layout("/layouts/boilerplate") %>
<div class="details-container">

  <div class="details-card">

    <!-- Image -->
    <img 
      src="<%= listing.image && listing.image.url ? listing.image.url : 'https://thumbs.dreamstime.com/b/default-image-icon-vector-missing-picture-page-website-design-mobile-app-no-photo-available-236105299.jpg' %>" 
      class="details-img"
      alt="listing_image"
    >

    <!-- Content -->
    <div class="details-body">
      <h2 class="details-title"><%= listing.title %></h2>

      <p class="details-price">
        ₹ <%= listing.price.toLocaleString("en-IN") %> / night
      </p>
      <i><p class="details-host">Owned by <%= listing.owner.username %></p></i>
      <p class="details-desc"><%= listing.description %></p>

      <div class="details-location">
        📍 <%= listing.location %>, <%= listing.country %>
      </div>

      <!-- Buttons -->
      <div class="details-actions">
        <a href="/listings/<%= listing._id %>/edit" class="btn-edit">Edit</a>

        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
          <button class="btn-delete">Delete</button>
        </form>
      </div>
      
      
      
    </div>
    

  </div>
  
</div>

<div class="review-container">
  <% if (currentUser) { %>
  <h4 class="review-heading">Leave a Review</h4>
  
  <form class="review-form" action="/listings/<%= listing._id %>/reviews" method="POST" >

    <div class="review-group">
    <fieldset class="starability-slot">
  <legend>First rating:</legend>
  <input type="radio" id="first-rate1" name="review[rating]" value="1" required />
  <label for="first-rate1" title="Terrible">1 star</label>
  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
  <label for="first-rate2" title="Not good">2 stars</label>
  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
  <label for="first-rate3" title="Average">3 stars</label>
  <input type="radio" id="first-rate4" name="review[rating]" value="4" />
  <label for="first-rate4" title="Very good">4 stars</label>
  <input type="radio" id="first-rate5" name="review[rating]" value="5" />
  <label for="first-rate5" title="Amazing">5 stars</label>
  </fieldset>
    </div>
    <div class="review-group">
      <label for="comment">Comment</label>
      <textarea id="comment" name="review[comment]" rows="4" placeholder="Write your experience..." required></textarea>
    </div>

    <button type="submit" class="btn-review">Submit Review</button>

  </form>
  <%}%>
  <hr />
  <h4 class="review-heading">Reviews</h4>
  <% if (listing.reviews.length === 0) { %>
    <p class="no-reviews">No reviews yet. Be the first to review!</p>
  <% } else { %>
    <div class="reviews-list">
  <% for(review of listing.reviews) { %>

    <div class="review-card">
      <div class="card-title"><%= review.author.username %></div>
      <div class="review-rating">
          <p class="starability-result" data-rating=<%= review.rating %>>
       Rated: <%= review.rating %> stars
       </p>
      </div>

      <!-- Comment -->
      <p class="review-text"><%= review.comment %></p>

       <form method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
      <button class="btn btn-sm btn-dark" >Delete</button>
    </form>
       
    </div>
      
   
     

  <% } %>
</div>
  <% } %>
</div>
