<% layout("/layouts/boilerplate") %>
<div class="details-container">

  <div class="details-card">

    <!-- Image -->
    <img 
      src="<%= listing.image && listing.image.url ? listing.image.url : 'https://thumbs.dreamstime.com/b/default-image-icon-vector-missing-picture-page-website-design-mobile-app-no-photo-available-236105299.jpg' %>" 
      class="details-img"
      alt="listing_image"
    >

    <!-- Content -->
    <div class="details-body">
      <h2 class="details-title"><%= listing.title %></h2>

      <p class="details-price">
        ₹ <%= listing.price.toLocaleString("en-IN") %> / night
      </p>

      <p class="details-desc"><%= listing.description %></p>

      <div class="details-location">
        📍 <%= listing.location %>, <%= listing.country %>
      </div>

      <!-- Buttons -->
      <div class="details-actions">
        <a href="/listings/<%= listing._id %>/edit" class="btn-edit">Edit</a>

        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
          <button class="btn-delete">Delete</button>
        </form>
      </div>

      
    </div>
    

  </div>
  
</div>

<div class="review-container">

  <h4 class="review-heading">Leave a Review</h4>

  <form class="review-form" action="/listings/<%= listing._id %>/reviews" method="POST">

    <div class="review-group">
      <label for="rating">Rating</label>
      <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
    </div>

    <div class="review-group">
      <label for="comment">Comment</label>
      <textarea id="comment" name="review[comment]" rows="4" placeholder="Write your experience..." required></textarea>
    </div>

    <button type="submit" class="btn-review">Submit Review</button>

  </form>

</div>
